:root {
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}

.background {
    background-color: var(--secondary-color);
    margin: 0;
    counter-reset: section;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 20px;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 40px;
}

.about {
    margin-left: 20px;
}

.button, button {
    background: #aed9ff;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.button:hover, button:hover {
    background: #9cc3e4;
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px 20px;
    width: 100%;
    height: 20em;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

#concert-list li {
    margin-bottom: 1rem;
}

.state {
    display: none;
}

.state.active {
    display: block;
}

#homepage {
    display: flex;
    width: 100%;
    background-color: var(--secondary-color);
}

.navbar-nav {
    margin-right: 20px;
}

.split-view {
    width: 50%;
}

#intro-header {
    text-align: right;
    padding-top: 100px;
    padding-right: 100px;
}

#intro-description {
    padding-top: 100px;
    text-align: center;
}

#introducing-chefMate {
    margin-left: 90px;
    font-weight: normal;
}

#recipe-generator {
    margin-left: 135px;
    font-weight: normal;
}

#search-label {
    font-weight: bold;
}

#search-container {
    text-align: center;
    padding-top: 50px;
}

#search-form-id {
    text-align: center;
}

.search-form {
    display: flex;
    width: 60%;
    margin-left: 20%;
    padding-bottom: 20px;
    padding-top: 10px;
}

.mark-as-tried-form {
    display: flex;
    width: 40%;
    padding-bottom: 20px;
    padding-top: 10px;

}

#mark-as-tried-button {
    margin-left: 5px;
}

#mark-as-tried-container {
    display: flex;
    justify-content: center;
}

#mark-as-tried-label {
    font-weight: bold;
    padding-top: 45px;
    padding-bottom: -10px;
}

#mark-as-tried-outer-container {
    text-align: center;
}

#review-field {
    width: 100%;
    height: 500px;
}

#review-form {
    padding-top: 40px;
    text-align: center;
    justify-content: center;
}

#review-text-area {
    width: 50%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#img-placeholder {
    max-width: 100%;
    height: 100%;
    border-radius: 50px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.checked {
  color: orange;
}

.star-container {
    padding: 10px;
    justify-content: center;
    display:flex;
    margin-left: 25%;
    margin-right: 25%;
    background: none;
}

#submit-review-button {
   border-radius: 20px;
   margin-right: 10px;
}

.star-container .star-rating input {
    display: none;
}

.star-rating label {
    font-size: 20px;
    padding: 10px;
    align-items: center;
    float: right;
    transition: all 0.2s ease;
    color: #449;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
    color:#fd4;
}

input:checked ~ label {
    color: #fd4;
}

input#rate-5:checked ~ label {
    color: #fe7;
}

#search-button {
    margin-left: 5px;
}

#options-button {
    margin-right: 5px;
}

#search-by-nutrients-window {
    padding-right: 22px;
}

.form-popup {
    display: none;
    position: fixed;
    z-index: 1;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(220, 220, 220);
    border-radius: 10px;
}

.chefmate-instructions-innerHTML {
    z-index: 1;
    position: fixed;
    display: none;
    text-align: center;
    padding: 10px;
    background: rgb(220, 220, 220);
    border-radius: 10px;
    top: 25%;
    left: 25%;
    right: 25%;
}

#search-by-nutrients-form {
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
}

.nutrients-listings {
    padding: 5px;
}

#search-by-nutrients-submit {
    margin-left: 15px;
    margin-right: -9px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}

#close-search-by-nutrients-window {
    text-align: center;
}

#close-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}

ul {
    list-style-type: none;
}

.content {
    width: 20em;
    margin: 15px;
    margin-top: 25px;
    height: 26em;
    box-sizing: border-box;
    float: left;
    border-radius: 5% 5% 5px 5px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    transition: .4s;
}

.recipe-content {
    margin-left: -20px;
}

.recipe-title {
    padding: 10px 10px 0 10px;
    text-align: center;
}

.recipe-image {
    width: 100%;
    height: 175px;
    text-align: center;
    margin-top: -10px;
    display: block;
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

.instructions-button {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: #87CEFA;
    border-radius: 0 0 5px 5px;
    border: none;
    border-top: solid 1px black;
}

.chef-mate-instructions-button {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #87CEFA;
    margin-bottom: 59px;
    border: solid 1px black;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    padding: 5px;
    padding-bottom: 15px;
    transition: .4s;
}

.chef-mate-instructions-button:hover {
    background: #00BFFF;
    transform: translate(0px, -8px);
}

.instructions-button:hover {
    background: #00BFFF;
}

#rendering-recipes-section {
    overflow-y: auto;
    height: 900px;
}

#review-section {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px 20px 20px;
    width: 100%;
    height: 30em;
    overflow-x: auto;
    display: flex;
}

#reviews-header {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: -10px;
    border-top: 1px solid black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#rendering-recipes-section::-webkit-scrollbar {
    display: none
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#loading-spinner {
    margin: auto;
}

#spinner {
    display:none;
    z-index: 1;
    position: fixed;
}

#chefmate-header {
    font-size: 40px;
}

#search-render-change {
    width: 100%;
}

#recipeId-review-input-container {
    margin-right: 25%;
    margin-left: 25%;
}

.review-content {
    width: 30em;
    margin: 15px;
    margin-top: 25px;
    height: 26em;
    box-sizing: border-box;
    float: left;
    border-radius: 5% 5% 5px 5px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    transition: .4s;
    text-align: center;

}


.star-container-reviews {
    padding-bottom: 10px;
    margin-left: 25px;
    justify-content: center;
    display:flex;
    margin-left: 25%;
    margin-right: 25%;
}

.star-rating-reviews {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.star-container-reviews .star-rating-reviews input {
    display: none;
}

.star-rating-reviews label {
    font-size: 20px;
    padding: 10px;
    align-items: center;
    float: right;
    transition: all 0.2s ease;
    color: #fd4;
}

.user-header {
    padding-top: 30px;
    padding-bottom: 15px;
}

.review-title {
    margin-top: 5%;
}

.review-returned {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.review-text-container {
   max-height: 325px;
   overflow-x: auto;
}

#get-review-form {
    display: flex;
}

#get-reviews-button {
    width: 150px;
    margin-left: 10px;
}

#recipe-id-input {
      width: 45%;
}

.hidden {
    display: none;
}

label {
    margin-bottom: 10px;
    display: block;
}